
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <img id="logo-header" src="/img/logo3.png">
        <a th:href="@{/admin}" class="navbar-brand text-info fw-semibold fs-4">ADMIN</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#menuLateral"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <section
                class="offcanvas offcanvas-start"
                id="menuLateral"
                tabindex="-1"
        >
            <div class="offcanvas-header" data-bs-theme="dark">
                <h5 class="offcanvas-title text-info">ADMIN</h5>
                <button
                        class="btn-close"
                        type="button"
                        aria-label="Close"
                        data-bs-dismiss="offcanvas"
                ></button>
            </div>
            <div
                    class="offcanvas-body d-flex flex-column justify-content-between px-0"
            >
                <ul class="navbar-nav fs-5 justify-content-evenly">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            CATEGORIAS
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" th:href="@{/admin/categorias}">Ver</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/categorias/nuevo}">Nuevo Registro</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            FORMATO
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" th:href="@{/admin/formatos}">Ver</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/formatos/nuevo}">Nuevo Registro</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            DISPOSITIVOS
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" th:href="@{/admin/dispositivos}">Ver</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/dispositivos/nuevo}">Nuevo Registro</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            JUEGOS
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" th:href="@{/admin/productos}">Ver</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/productos/nuevo}">Nuevo Registro</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ADMINISTRADORES
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" th:href="@{/admin/administradores}">Ver</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/administradores/nuevo}">Nuevo Registro</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-lg-none align-self-center py-3">
                    <a href=""><i class="bi bi-twitter px-2 text-info fs-2"></i></a>
                    <a href=""><i class="bi bi-facebook px-2 text-info fs-2"></i></a>
                    <a href=""><i class="bi bi-github px-2 text-info fs-2"></i></a>
                </div>
            </div>
        </section>
    </div>
</nav>
