<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="/css/headerfront.css">
    <link rel="stylesheet" href="/css/generalStyle.css">
    <link rel="stylesheet" href="/css/games.css">
</head>
<body>
<main>
    <header th:insert="/user/headerfront.html"></header>
<div id="principal-content">
    <div  id="content-header-left" th:insert="/user/headerLeft.html">

    </div>
    <div id="content-info">
        <div class="content-info-mensaje" th:style="${icono}" >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>alert-circle-outline</title><path d="M11,15H13V17H11V15M11,7H13V13H11V7M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20Z" /></svg>
            <h3> No se encontraron juegos basados en sus criterios de búsqueda.

            </h3>
        </div>
        <div id="content-cards-game">
            <a th:each="producto : ${busqueda}" th:href="@{/home}" class="card-game">
                <img th:src="@{/img/{filename}(filename=*{producto.imagen})}"  th:alt="*{producto.imagen}">
                <div>
                    <h4 th:text="*{producto.nombre}" ></h4>
                    <p th:text="${pesos} + *{producto.precio}"></p>
                </div>
            </a>
        </div>
    </div>

</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
  $(".btn-dropdown").click(function () {
    const dataDrop = $(this).attr("data-drop")

    $(`.${dataDrop}`).toggleClass("active")
  })
</script>
</html>