<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
  <link rel="stylesheet" href="/css/headerfront.css">
  <link rel="stylesheet" href="/css/generalStyle.css">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<main>
    <header th:insert="/user/headerfront.html"></header>


    <div id="principal-content">
        <div  id="content-header-left" th:insert="/user/headerLeft.html">

        </div>
        <div id="content-info">
            <div id="content-info-inicio">
                <img src="/img/logo3.png">
                <div>
                    <h3>¡BIENVENIDO!</h3>
                    <P>En JCGames, creemos en brindar a nuestros clientes una experiencia de compra única y emocionante. Nuestra página web está diseñada de manera intuitiva y fácil de usar, con una interfaz moderna que permite a los visitantes navegar y descubrir una amplia variedad de juegos en diferentes géneros, desde emocionantes aventuras hasta desafiantes juegos de estrategia.
                        Como empresa comprometida con la satisfacción del cliente, trabajamos en estrecha colaboración con desarrolladores y distribuidores de renombre en la industria de los videojuegos. Esto nos permite ofrecer los títulos más populares y esperados, así como los lanzamientos más recientes, para que nuestros clientes siempre estén al tanto de las novedades en el mundo del gaming.</P>
                    <p>En JCGames, entendemos que la rapidez y la confiabilidad son fundamentales para nuestros clientes. Por eso, nos aseguramos de que cada pedido se procese de manera eficiente y se entregue en el menor tiempo posible. Además, ofrecemos opciones de envío flexibles para adaptarnos a las necesidades individuales de cada cliente.
                        Nuestro equipo de atención al cliente está disponible para responder preguntas, brindar asistencia técnica y resolver cualquier inquietud que pueda surgir durante la experiencia de compra. Valoramos la satisfacción del cliente y nos esforzamos por brindar un servicio personalizado y amigable en todo momento.</p>
                </div>

            </div>

            <div id="content-info-proximos">
                <h4>PROXIMOS LANZAMIENTOS:</h4>
            </div>

            <section id="s-entretenimiento">
                <div class="card-entretenimiento">
                    <img src="/img/dead-space.jpg" alt="">
                    <div>
                        <a href="https://www.youtube.com/watch?v=4kRHnEi57gE" target="_blank">Ver Mas</a>
                    </div>
                </div>
                <div class="card-entretenimiento">
                    <img src="/img/final-fantasy-16.jpg" alt="">
                    <div>
                        <a href="https://www.youtube.com/watch?v=tsHy9hg-DhE" target="_blank">Ver Mas</a>
                    </div>
                </div>
                <div class="card-entretenimiento">
                    <img src="/img/assassins-creed-mirage.jpg" alt="">
                    <div>
                        <a href="https://www.youtube.com/watch?v=NPZBAdRguK4" target="_blank">Ver Mas</a>
                    </div>
                </div>
            </section>

        </div>



</main>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
  $(".btn-dropdown").click(function () {
    const dataDrop = $(this).attr("data-drop")

    $(`.${dataDrop}`).toggleClass("active")
  })
  $(".a-dropdown").click(function () {
    const dataDrop = $(this).attr("data-a-drop")

    $(`.${dataDrop}`).toggleClass("active")
  })
</script>
</html>
