<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="/css/headerfront.css">
    <link rel="stylesheet" href="/css/generalStyle.css">
    <link rel="stylesheet" href="/css/lastGames.css">
    <link rel="stylesheet" href="/libs/owl.carousel.min.css">
    <link rel="stylesheet" href="/libs/owl.theme.default.min.css">
</head>
<body>
<main>
    <header th:insert="/user/headerfront.html"></header>
<div id="principal-content">
    <div  id="content-header-left" th:insert="/user/headerLeft.html">

    </div>
    <div id="content-info">

        <h3>ULTIMOS JUEGOS: </h3>
        <div id="content-juegos-carousel" >
            <div class="owl-carousel owl-theme" id="juegos-carousel" >
                <img th:each="producto : ${lastGames}" th:src="@{/img/{filename}(filename=*{producto.imagen})}"  th:alt="*{producto.imagen}">
            </div>
        </div>


    </div>
</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/libs/owl.carousel.min.js"></script>
<script>
  $(".btn-dropdown").click(function () {
    const dataDrop = $(this).attr("data-drop")

    $(`.${dataDrop}`).toggleClass("active")
  })


    $("#juegos-carousel").owlCarousel({
    nav: false,
    loop: true,
    dots: true,
    center: true,
    autoplay: true,
    autoplayTimeout: 3000,
    autoplaySpeed: 3000,

    responsive: {
        0: {
            items: 1
        },
        992: {
            items: 4,
            margin: 50
        }
    }
});
</script>
</html>