<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/libs/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div id="contenedor">
  <div id="central">
    <div id="login">
      <div class="logo">
        <img src="/img/logo3.png" alt="logo3">
      </div>
      <div class="titulo">
        Bienvenido
      </div>
      <form id="loginform" th:action="@{/login}" method="post">
        <div id="alert" th:if=${param.error}>
          <div class="alert alert-danger">Usuario o contraseña
            inválidos</div>
        </div>
        <input for="username" type="text" id="username"  name="username" placeholder="Usuario" required autofocus="autofocus">

        <input for="password" type="password" id="password" name="password"placeholder="Contraseña" required autofocus="autofocus">

        <button type="submit" title="Ingresar" name="Ingresar">Login</button>
      </form>
      <div class="pie-form">
        <a th:href="@{/registro}">¿No tienes Cuenta? Registrate</a>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.all.min.js
"></script>

<script src="/js/registro.js"></script>
</body>
</html>