<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div id="contenedor">
  <div id="central">
    <div id="login">
      <div class="logo">
        <img src="/img/logo3.png" alt="logo3">
      </div>
      <div class="titulo">
        Bienvenido
      </div>
      <form id="loginform" th:action="@{/registro}" th:object="${usuario}" method="post">
        <div id="alert" th:if=${param.error}>
          <div class="alert alert-danger">El Email ya esta Registrado
          </div>
        </div>
        <input for="name" type="text" id="name"  name="name" placeholder="Nombre" th:field="*{name}" required autofocus="autofocus">
        <input for="lastname" type="text" id="lastname"  name="lastname" placeholder="Apellido" th:field="*{lastname}" required autofocus="autofocus">
        <input for="username" type="text" id="username"  name="username" placeholder="Email" th:field="*{username}" required autofocus="autofocus">

        <input for="password" type="password" id="password" name="password"placeholder="Contraseña" th:field="*{password}" required autofocus="autofocus">

        <button type="submit" title="Registrarme" name="Registrarme">Registrarme</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>